table {
  border-collapse: collapse;
}

input[type="text"] {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  border: 0;
}

body {
  padding: 20px;
}

.innerCells {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  white-space: nowrap !important;
  margin-top: 30px;
}

table td {
  position: relative;
}

input[disabled] {
  cursor: text;
  background-color: inherit;
  color: black;
}

table tr td:not(.skip),
table tr th {
  text-align: center;
}

td,
th {
  padding: 2px !important;
  width: 100px;
  border: 1px solid black;
}

.hide-bar {
  list-style: none;
  display: flex;
}

.productColumn {
  width: 1%;
  background-color: white;
}

.checkbox {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.checkbox label {
  margin-left: 10px;
}

.width1 {
  width: 1%;
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.launched-bg {
  background-color: #deffbe;
}

.launched-ipu-bg {
  background-color: #dea2ff;
}

.announced-bg {
  background-color: #9fcaff;
}

.disontinued-bg {
  background-color: #ffb5b5;
}

.legend-square {
  width: 12px;
  height: 12px;
  border: 3px solid black;
  margin-left: 20px;
}

.col-flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right-header-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  text-align: center;
  align-items: center;
  gap: 75px;
}

.pagination-box {
  width: 100%;
  font-size: x-large;
}

.pagination-box span {
  font-weight: 900;
  color: #000000;
}

.pagination-buttons {
  width: 150px;
}

.button {
  background: #add8e6;
  height: 30px;
  font-weight: 900;
}

.button:hover {
  background: #affaf8;
}

.button:disabled {
  background: #add8e6;
}

.large-text {
  font-size: 25px;
}

.input-box {
  width: 45%;
}

.filter-box {
  width: 400px;
}

.header-row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
